.contact {
    padding-top: 0;
    padding-bottom: var(--paddingXL);

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: var(--paddingM);
    }
}


/* 
//==========================================================
//  Responsive =>  > 768px
//==========================================================
*/
@media (min-width: 768px) {
    .contact {
        &__wrapper {
            flex-direction: row;
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 1600px
//==========================================================
*/
@media (min-width: 1600px) {
    .contact {
        padding-top: var(--paddingS);

        &__wrapper {
            padding-top: var(--paddingS);
        }
    }
}