.slider {
    cursor: grab;

    &__slide {
        padding: 2.25rem 2.75rem;
        border: 1px solid var(--darkThemeBoulder);
        border-radius: var(--mainBorderRadius);
        height: 100%;
        transition: background-color .2825s, border .2825s;
    
        &:hover {
            border: 1px solid var(--darkThemeBgColor);
            background-color: rgba(#262626, .5);
        }
    
        &__avatar {
            width: 4.063rem;
            height: 4.063rem;
            border-radius: 50%;
        }
    
        &__content,
        &__text {
            font-size: max(1.125rem, 1.25vw);
        }
    
        &__content {
            padding-top: var(--paddingS);
        }
    
        &__text {
            padding-bottom: var(--paddingXS);
        }
    
        &__name,
        &__company {
            display: block;
            overflow: hidden;
    
            &__inner {
                display: inline-block;
                position: relative;
    
                &::before {
                    position: absolute;
                    display: inline-block;
                    top: 100%;
                    left: 0;
                    content: attr(data-text);
                }
            }
        }
    
        &__name {
            margin-bottom: .5rem;
    
            &__inner {
                transition: transform .275s var(--mainTransition);
            }
        }
    
        &__company {
            &__inner {
                transition: transform .275s .055s var(--mainTransition);
            }
        }
    
        &:hover {
            .slider__slide__name__inner,
            .slider__slide__company__inner {
                transform: translateY(-100%);
            }
        }
    }
}



/* 
//==========================================================
//  Responsive =>  > 768px
//==========================================================
*/
@media (min-width: 768px) {
    .slider {
        &__slide {
            padding: 2.5rem 3rem;

            &__avatar {
                width: 4.563rem;
                height: 4.563rem;
            }
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 1024px
//==========================================================
*/
@media (min-width: 1024px) {
    .slider {
        &__slide {
            padding: 3rem 5rem;

            &__avatar {
                width: 4.688rem;
                height: 4.688rem;
            }
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 1200px
//==========================================================
*/
@media (min-width: 1200px) {
    .slider {
        &__slide {
            padding: 3.25rem 5.5rem;

            &__avatar {
                width: 4.813rem;
                height: 4.813rem;
            }
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 1400px
//==========================================================
*/
@media (min-width: 1400px) {
    .slider {
        &__slide {
            padding: 3.375rem 5.625rem;

            &__avatar {
                width: 4.875rem;
                height: 4.875rem;
            }
        }
    }
}



/* 
//==========================================================
//  Responsive =>  > 1600px
//==========================================================
*/
@media (min-width: 1600px) {
    .slider {
        &__slide {
            padding: 3.5rem 5.75rem;

            &__avatar {
                width: 5rem;
                height: 5rem;
            }
        }
    }
}