.technos {
    margin: 0;
    padding: var(--paddingS) 0 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 0;
        border-radius: var(--mainBorderRadius);
        background-color: rgba(#262626, .5);
        
        &__title {
            margin-top: 1rem;
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 768px
//==========================================================
*/
@media (min-width: 768px) {
    .technos {
        grid-template-columns: repeat(3, 1fr);
    }
}