.technos {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        position: relative;
        font-size: max(1.25rem, 1.85vw);
        line-height: 1.5;
    }
}


/* 
//==========================================================
//  Responsive =>  > 768px
//==========================================================
*/
@media (min-width: 768px) {
    .technos {
        grid-template-columns: repeat(3, 1fr);
    }
}