.title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    letter-spacing: -.25vw;
    overflow: hidden;

    &__arrow {
        display: inline-block;
        margin-right: 2vw;

        svg {
            min-height: 1.625rem;
            max-height: 80px;
            height: 5vw;
            transform-origin: 50% 50%;
        
            g {
                stroke-width: 1.5px;
                stroke: var(--darkThemeFontColor);
            }
        }

    }

    &__word {
        display: inline-block;
        overflow: hidden;
    
        &__inner {
            display: inline-block;
            font-size: clamp(3rem, 9vw, 10.5rem);
            line-height: 1;
        }
    }
}