.title {
    width: 100%;
    font-size: clamp(3.5rem, 10.25vw, 194px);
    line-height: 1.25;

    &__line {
        display: block;
        overflow: hidden;

        &:first-of-type {
            margin-bottom: -2vw;
        }

        &__flex,
        &:not(:first-of-type) {
            display: flex;
            justify-content: space-between;
        }

        &__word {
            display: inline-block;
        }

        &__sub {
            display: flex;

            sub {
                line-height: 0;
            }
        }
    }

    &.title--h2 {
        color: var(--darkThemeFontColor);
        line-height: 1;
        width: 85%;
        padding-bottom: var(--paddingS);

        .title__word {
            span {
                opacity: 1;
            }
        }
    }

    &__line__arrow {
        min-height: 1.625rem;
        max-height: 95px;
        height: 5vw;

        g {
            stroke-width: 1.5px;
        }
    }

    &__line__alt {
        display: flex;
        align-items: center;
    }

    &__line__push:not(:first-of-type) {
        width: 54%;
        margin-left: auto;
    }
}



/* 
//==========================================================
//  Responsive =>  > 640px
//==========================================================
*/
@media (min-width: 640px)  {
    .title {
        &__line__push:not(:first-of-type) {
            width: 50%;
            margin-left: auto;
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 1400px
//==========================================================
*/
@media (min-width: 1400px) {
    .title__line__push:not(:first-of-type) {
        width: 47%;
    }
}
