.title {
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--paddingL) 0;

    &__alt {
        height: auto;
    }

    &__wrapper {
        width: 100%;
        height: 100%;
    }

    &__text {
        width: 100%;
        // padding-top: var(--paddingL);

        &__words {
            display: inline-block;
        }

        &__letters {
            opacity: .2;
        }
    }
}