.line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--darkThemeFontColor);
    margin-bottom: var(--paddingS);
    opacity: .35;
    transform-origin: 0% 0%;

    &.lineDark {
        background-color: var(--lightThemeFontColor);
        opacity: 1;
    }

    &__outer {
        margin-bottom: 0;
    }
    
    &__inner {
        position: absolute;
        margin-bottom: 0;
    }
}