.cover {
    position: relative;
    width: 100vw;
    height: 100vw;
    max-height: 100vh;
    background-color: var(--darkThemeGrayColor);
    pointer-events: none;
    overflow: hidden;
    border-radius: var(--mainBorderRadius);

    &__reveal {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: var(--darkThemeBgColor);
        z-index: 2;
        transform-origin: 0% 0%;
    }

    &__wrapper {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 200%;
        left: -50%;
        right: 50%;
        height: 150vh;
        top: 0;
        gap: 1vw;
    }

    &__line {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 66vw;
        height: 100%;
        white-space: nowrap;

        &:first-of-type {
           top: -360vw;
        }

        &:nth-of-type(2) {
            top: 5vw;
        }
        
        &:last-of-type {
           top: -360vw;
        }
    }

    &__figure {
        position: relative;
        margin: 0;
        padding: 0;
        display: inline-block;
        height: auto;
        padding-top: 56.25%;
        margin-bottom: 1vw;
        border-radius: 5px;
        overflow: hidden;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__image {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}




/* 
//==========================================================
//  Responsive =>  > 640px
//==========================================================
*/
@media (min-width: 640px) {
    .cover {
        max-height: 105vh;

        &__line {
            &:first-of-type {
                top: -210vw;
            }
    
            &:nth-of-type(2) {
                top: 0;
            }
            
            &:last-of-type {
                top: -210vw;
            }
        }

    }
}


/* 
//==========================================================
//  Responsive =>  > 768px
//==========================================================
*/
@media (min-width: 768px) {
    .cover {
        max-height: 125vh;

        &__line {
            width: 60vw;
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 1024px
//==========================================================
*/
@media (min-width: 1024px) {
    .cover {
        &__line {
            width: 52vw;

            &:first-of-type {
                top: -215vw;
            }
    
            &:nth-of-type(2) {
                top: 0;
            }
            
            &:last-of-type {
                top: -215vw;
            }
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 1200px
//==========================================================
*/
@media (min-width: 1200px) {
    .cover {
        &__line {
            width: 44vw;
        }
    }
}


/* 
//==========================================================
//  Responsive =>  < 1400px
//==========================================================
*/
@media (min-width: 1400px) {
    .cover {
        &__wrapper {
            width: 200%;
            left: -50%;
            right: 50%;
        }

        &__line {
            width: 42vw;
        }
    }
    
}