.cover {
    
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 47vw;
    }

    &__left {
        width: 62vw;
        overflow: hidden;
        border-top-right-radius: var(--mainBorderRadius);
        border-bottom-right-radius: var(--mainBorderRadius);

        &__figure {
            position: relative;
            display: inline-block;
            width: 100%;
            padding-bottom: 66.66%;
        }

        &__img {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: var(--mainBorderRadius);
            border-bottom-left-radius: var(--mainBorderRadius);
        }
    }

    &__right {
        width: 16vw;
        border-top-left-radius: var(--mainBorderRadius);
        border-bottom-left-radius: var(--mainBorderRadius);
        overflow: hidden;

        &__figure {
            position: relative;
            display: inline-block;
            width: 100%;
            padding-bottom: 110%;
        }

        &__img {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: var(--mainBorderRadius);
            border-bottom-left-radius: var(--mainBorderRadius);
        }
    }

    &__reveal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--darkThemeBgColor);
        transform-origin: 0% 0%;
        z-index: 2;
    }
}