.tags {
    position: absolute;
    top: 3vw;
    left: 3vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.125rem 1rem;
    background-color: var(--darkThemeFontColor);
    transform-origin: 0% 0%;
    z-index: 3;
    border-radius: 20px;
    transition: background-color .275s ease-out;

    &.tagsLight {
        background-color: var(--lightThemeFontColor);
    }

    &__text {
        display: inline-block;
        text-transform: uppercase;
        color: var(--darkThemeBgColor);
        overflow: hidden;
        transition: color .275s ease-out;

        &__inner {
            display: inline-block;
        }
    }

    &.tagsLight .tags__text {
        color: var(--lightThemeBgColor);
    }

    &__relative {
        position: relative;
        top: unset;
        left: unset;
    }

    &__active {
        background-color: var(--darkThemeBgColor);

        .tags__text {
            color: var(--darkThemeFontColor);
        }
    }
}