.hero {
    height: var(--mainHeroHeight);
    min-height: 765px;

    &__wrapper {
        position: relative;
        height: var(--mainHeroHeight);
        min-height: 765px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__desc {
        margin-left: auto;
        padding-bottom: var(--paddingL);
    }

    &__title {
        padding-bottom: var(--paddingS);
    }
}