.hero {
    height: var(--mainHeroHeight);

    &__wrapper {
        position: relative;
        height: var(--mainHeroHeight);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__title {
        padding-bottom: var(--paddingS);

        &__tags {
            display: inline-flex;
            width: 100%;
            padding-bottom: var(--paddingM);

            &__wrapper {
               &:first-of-type {
                margin-right: 2vw;
               }
            }
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 640px
//==========================================================
*/
@media (min-width: 640px) {
    .hero {
        min-height: 680px;
    
        &__full {
            .hero__wrapper {
                min-height: 680px;
            }
        }
    
        &__wrapper {
            min-height: 680px;
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 1600px
//==========================================================
*/
@media (min-width: 1600px) {
    .hero {
        min-height: 765px;
    
        &__wrapper {
            min-height: 765px;
        }
    }
}