.hero {
    height: var(--mainHeroHeight);
    min-height: 765px;

    &__wrapper {
        position: relative;
        height: var(--mainHeroHeight);
        min-height: 765px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__title {
        padding-bottom: var(--paddingS);

        &__tags {
            display: inline-flex;
            width: 100%;
            padding-bottom: var(--paddingM);

            &__wrapper {
               &:first-of-type {
                margin-right: 2vw;
               }
            }
        }
    }
}