.menu {
    margin: 0;
    padding: 0;
    list-style: none;


    &__item {
        margin-bottom: .85rem;
        font-size: clamp(13px, 1.125vw, 1.25rem);

        &__link {
            color: var(--lightThemeFontColor);
            text-decoration: none;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}