.menu {
    margin: 0;
    padding: 0;
    list-style: none;

    &:first-of-type {
        margin-right: 2rem;
    }


    &__item {
        margin-bottom: .85rem;
        font-size: clamp(13px, 1.5vw, 1.125rem);

        &__link {
            color: var(--lightThemeFontColor);
            text-decoration: none;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}