.menu {
    margin: 0;
    margin-right: var(--paddingM);
    padding: 0;
    list-style: none;


    &__item {
        margin-bottom: .85rem;

        &__link {
            color: var(--lightThemeFontColor);
            text-decoration: none;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}