.content {
    margin-left: auto;
    width: 90%;
    
    &__text {
        letter-spacing: normal;
        margin-bottom: var(--paddingS);
    }

    &__title {
        padding-top: var(--paddingXS);
    }
}


/* 
//==========================================================
//  Responsive =>  > 640px
//==========================================================
*/
@media (min-width: 640px) {
    .content {
        width: 72%;
    }
}


/* 
//==========================================================
//  Responsive =>  > 768px
//==========================================================
*/
@media (min-width: 768px) {
    .content {
        width: 69%;
    }
}


/* 
//==========================================================
//  Responsive =>  > 1024px
//==========================================================
*/
@media (min-width: 1024px) {
    .content {
        width: 67%;
    }
}