.testimonials {
    overflow: hidden;
    padding-top: var(--paddingL);

    &__title {
        padding-bottom: var(--paddingM);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        &__more {
            width: 90%;
            margin-left: auto;
            margin-top: var(--paddingM);

            &__wrapper {
                width: 100%;
            }
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 640px
//==========================================================
*/
@media (min-width: 640px) {
    .testimonials {
        padding-top: var(--paddingXL);

        &__title {
            &__more {
                width: 80%;
            }
        }
    }
}

/* 
//==========================================================
//  Responsive =>  > 768px
//==========================================================
*/
@media (min-width: 768px) {
    .testimonials {
        &__title {
            &__more {
                width: 64%;
                padding-bottom: 1rem;
            }
        }
    }
}



/* 
//==========================================================
//  Responsive =>  > 1024px
//==========================================================
*/
@media (min-width: 1024px) {
    .testimonials {
        &__title {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            &__more {
                width: 50%;
                margin-left: 0;
            }
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 1400px
//==========================================================
*/
@media (min-width: 1400px) {
    .testimonials {
        &__title {
            &__more {
                width: 50%;
                padding-bottom: 1rem;
    
                &__wrapper {
                    width: 70%;
                }
            }
        }
    }
}