.intro__content {
    padding: var(--paddingL) 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__wrapper {
        width: 90%;
        margin-left: auto;
        margin-top: var(--paddingM);
    }

    &__text,
    &__cta {
        font-size: max(1.25rem, 1.85vw);
    }

    &__text {
        margin-bottom: var(--paddingM);
        line-height: 1.5;

        &:first-of-type {
            margin-bottom: var(--paddingS);
        }
    }

    &__bottom {
        width: 90%;

        &__text {
            display: inline-block;
        }
    }

    &__cta {
        margin-bottom: 0;
        margin-top: var(--paddingXS);
    }

    &__last {
        padding-bottom: var(--paddingXL);
    }
}


/* 
//==========================================================
//  Responsive =>  > 640px
//==========================================================
*/
@media (min-width: 640px) {
    .intro__content {
        &__wrapper {
            width: 80%;
        }

        &__bottom {
            width: 80%;
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 768px
//==========================================================
*/
@media (min-width: 768px) {
    .intro__content {
        flex-direction: row;

        &__wrapper {
            width: 64%;
            margin-top: 0;
        }

        &__bottom {
            width: 73%;
        }
    }
}




/* 
//==========================================================
//  Responsive =>  > 1024px
//==========================================================
*/
@media (min-width: 1024px) {
    .intro__content {
        &__bottom {
            width: 71%;
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 1200px
//==========================================================
*/
@media (min-width: 1200px) {
    .intro__content {
        &__bottom {
            width: 69%;
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 1400px
//==========================================================
*/
@media (min-width: 1400px) {
    .intro__content {
        &__wrapper {
            width: 50%;
        }

        &__bottom {
            width: 67%;
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 1600px
//==========================================================
*/
@media (min-width: 1600px) {
    .intro__content {
        &__wrapper {
            width: 48%;
        }

        &__bottom {
            width: 65%;
        }
    }
}