.description {
    &__text {
        padding: var(--paddingL) 0;
        width: 54%;
        margin-left: auto;
        font-size: max(1.25rem, 1.85vw);
    }
}


/* 
//==========================================================
//  Responsive =>  > 640px
//==========================================================
*/
@media (min-width: 640px) {
    .description {
        &__text {
            width: 50%;
        }
    }
}


/* 
//==========================================================
//  Responsive =>  > 1400px
//==========================================================
*/
@media (min-width: 1400px) {
    .description {
        &__text {
            width: 47%;
        }
    }
}